<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="${title}">title</title>
    <link href="/css/style.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>TransportManage</p>
    <form action="/workerlist/result" method="post">
        <label>ID:<input class="input" type="text" name="id"></label><br>
        <div><input class="search" type="submit" value="検索"/></div>
    </form>
    
    
    <form action="/workerlist/result" method="post">
        <div><input class="list" type="submit" name="showList" value="一覧表示"/></div>
    </form>

    <div th:if="${fee} !=null" th:object="${fee}">
        <table>
            <tr>
                <th>ID</th>
                <th>round_trip</th>
                <th>total_fee</th>
                <th>use_date</th>
            </tr>
            
            
            
            <tr th:each="result:${fee}" th:object="${result}">
                <td th:text="*{id}">id</td>
                <td th:text="*{round_trip}">往復</td>
                <td th:text="*{total_fee}">合計金額</td>
                <td th:text="*{use_date}">使用日</td>
            </tr>
            
            

        </table>
    </div>

  </body>
</html>