@charset "UTF-8";

body {
  overflow-x: hidden;
    margin: 10px;
    width: 100%;
}
  
p {
 padding: 1rem 2rem;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  
/*   width : 100%;
  background-color: rgb(98, 160, 234);
  height: 50PX;
  margin: 0px;
  text-align: center; */
}


.headmenu {
  border-bottom: dotted;
  padding-bottom: 10px;
  
/*   width : 100%;
  background-color: rgb(98, 160, 234);
  height: 50PX;
  margin: 0px;
  text-align: center; */
}

input[type="text"] {
  width: 70%;
  border-radius: 5px;
  padding: 10px;
}

input[type="submit"].search {
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  background-color: #99CCCC;
}

input[type="submit"].list {
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  background-color: #008BBB;
  color: #FFFFFF
}

form.workerform {
  width: 500px;
  margin: 10px;
  border: medium #8ff0a4 solid;
}

div.workerform{
  width: 300px;
  margin: 10px;
  border: medium #3584e4 solid;

}

div.workername{
  width: 200px;
  margin: 10px;
 text-align: center;
   border: medium #ffa348 solid;
}
div > h2{

 text-align: left;

}


div.mainlist{
  width: 800px;
  margin: 10px;
 text-align: center;
}





.workerform div {
  margin: 10px;
}

.workerlist {
  width: 1000px
}

.workerlist td {
  text-align: center
}

table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 6px;
}

table th {
  background-color: #6699FF;
}








.resultform {
  border: none;
  background-color: #f5f5f5;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  margin: 10px;
}

.resultform:focus {
  outline: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}





.inputform {
  border: none;
  background-color: #f5f5f5;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  margin: 10px;
}

.inputform:focus {
  outline: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}