@charset "UTF-8";

body {
  overflow-x: hidden;
    margin: 0px;
}
  

input[type="text"] {
  width: 70%;
  border-radius: 5px;
  padding: 10px;
}

input[type="submit"].search {
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  background-color: #99CCCC;
}

input[type="submit"].list {
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  background-color: #008BBB;
  color: #FFFFFF
}

form.workerform {
  width: 500px;
  margin: 10px;
  border: medium #8ff0a4 solid;
}

p {
  width : 100%;
  background-color: #f5c211;
  height: 50PX;
    margin: 0px;
    text-align: center;

}



.workerform div {
  margin: 10px;
}

.workerlist {
  width: 1000px
}

.workerlist td {
  text-align: center
}

table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 6px;
}

table th {
  background-color: #6699FF;
}

p {
  font-size: 20px;
}